[Unit]
Description=Gunicorn daemon for Flask app
After=network.target

[Service]
User=www-data
Group=www-data
Environment="PYTHONPATH=/var/www/northcromo_final_vps/backend"
Environment="PATH=/var/www/northcromo_final_vps/backend/venv/bin:$PATH"
WorkingDirectory=/var/www/northcromo_final_vps/backend
ExecStart=/var/www/northcromo_final_vps/backend/venv/bin/gunicorn \
    --workers 4 \
    --worker-class gevent \
    --bind unix:/var/www/northcromo_final_vps/backend/northcromo.sock \
    app.app:application \
    --log-level debug \
    --access-logfile /var/log/gunicorn_access.log \
    --error-logfile /var/log/gunicorn_error.log
     --timeout 120  # Timeout padrão para operações rápidas e lentas 

[Install]
WantedBy=multi-user.target







