[Unit]
Description=Projeto Northcromo - FastAPI com Gunicorn
After=network.target

[Service]
User=www-data
Group=www-data

# Caminho para o projeto e ambiente virtual
Environment="PYTHONPATH=/var/www/northcromo_final_vps/backend"
Environment="PATH=/var/www/northcromo_final_vps/backend/venv/bin:$PATH"
WorkingDirectory=/var/www/northcromo_final_vps/backend

# Comando de inicialização com UvicornWorker
ExecStart=/var/www/northcromo_final_vps/backend/venv/bin/gunicorn \
    --workers 4 \
    --worker-class uvicorn.workers.UvicornWorker \
    --bind unix:/var/www/northcromo_final_vps/backend/northcromo.sock \
    main:app \
    --log-level info \
    --access-logfile /var/log/gunicorn_access.log \
    --error-logfile /var/log/gunicorn_error.log

Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
